
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    <h1>Name :<%=name %> </h1>
    <h1>Year:<%= year %></h1>
    <h1>Dept :<%= dept %></h1>

    <h2>Welcome to EJS Template </h2>
</body>
</html>